@import "tailwindcss";

/* Dark scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a; /* Dark background */
}

::-webkit-scrollbar-thumb {
  background-color: #444; /* Dark gray thumb */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666; /* Slightly lighter on hover */
}
